@import "../../variables";

.search-form {
  max-width: 648px;
  margin-block-start: 60px;
  padding-block-start: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  .search-input {
    font-size: 16px;
    border: 1px solid $mid-white;
    width: 100%;
    color: $lightblack;
    border-radius: 4px 0 0 4px;
    background: $mid-white;
    transition: border-color 200ms ease-in-out, background 200ms ease-in-out;
    &:hover,
    &:focus {
      border-color: $accent;
      background: $white;
    }
  }
  .btn-search {
    border-radius: 0 4px 4px 0;
    border: 1px solid $accent;
    background: $accent;
    color: $white;
    transition: background 200ms ease-in-out;
  }
}

.filter-container {
  max-width: 648px;
  .filter-head {
    padding-bottom: 1rem;
    margin-bottom: 1.6rem;
    border-bottom: 1px solid $grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    h1 {
      color: $lightblack;
      font-weight: 600;
      font-size: 1.6rem;
    }
    .btn-clear {
      font-weight: 600;
      color: $accent;
      cursor: pointer;
    }
  }
  .filter-element-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 16px;
    column-gap: 12px;
    .filter-element {
      label {
        display: inline-block;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
        padding: 8px 16px;
        background: $lightgrey;
        border-radius: 50px;
        color: $lightblack;
        transition: background 250ms ease-in-out;
        &:hover {
          background: rgba(0, 0, 0, 0.275);
        }
      }
      input[type="radio"] {
        display: none;
      }
      input[type="radio"]:checked ~ label {
        background: rgba(0, 0, 0, 0.275);
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  .filter-container {
    .filter-element-list {
      justify-content: center;
      column-gap: 16px;
    }
  }
}
