$white: #fff;
$lightgrey: #d3d3d3;
$grey: #a0a0a0;

$black: #000;
$lightblack: #555;
$mid-black: #232323;

$accent: #fbaf03;
$mid-accent: #e49f00;
$dark-accent: #cc8f00;

$light-blue: #7f8ff4;

$padding-big: 24px 40px;
$padding-small: 24px;
$padding-mob: 20px;

$br-small: 4px;
$br-mid: 8px;
$br-large: 12px;
